__pycache__/
*.pyc
venv/
.venv/

runs/
*.log

static/uploads/*
static/crops/*
static/enhanced/*
!static/uploads/.gitkeep
!static/crops/.gitkeep
!static/enhanced/.gitkeep

models/*.pth
models/*.pt
models/*.onnx

.DS_Store
Thumbs.db
